<html>

    <head>
        <title>Brain Tumor Analyzer</title>
        {% block style %}
        {% endblock %}
        <style type="text/css">
            .content{
                text-align: center;
            }
            .main{
                text-align: center;
            }


        </style>
    </head>


    <body style="background-color:bisque">
        <div class="main">
            <h1>Brain Tumor Analyzer</h1>
            <p>Enter Patient information and upload brain scan for tumor result</p>
            <p>This analyzer uses 5 neural network models to analyze a brain MRI scan. It then takes the average outcome of each model to make its final decision.</p>
        </div>
        <div id="content" class="content" style="background-color: lightblue;">
            {% block content %}
            {% endblock %}
            {% block image %}
            {% endblock %}

        </div>
    </body>



</html>